[package]
name = "kubectl-why-can"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.66"
clap = { version = "4.0", features = ["derive"] }
hyper = { version = "0.14.23" }
hyper-rustls = { version = "0.23.2" }
k8s-openapi = { version = "0.16.0", default-features = false, features=["v1_21"] }
kube = { version = "0.77.0", default-features = false, features = ["client", "rustls-tls"]}
kube-derive = { version = "0.77.0"}
tokio = { version = "1.23.0", features = ["full"] }
tokio-rustls = "0.23.4"
tower = { version = "0.4.13", features = ["limit"] }
tower-http = { version = "0.3.5", features = ["trace", "decompression-gzip"] }
tracing-subscriber = "0.3.16"
